<div id="barra_aplicacoes" class="shadow">
  <%= image_tag 'uff.png', :alt=>"UFF", :title=>"Site UFF" %>
  <ul id="nav" class="dropdown dropdown-horizontal">
    <li><a href="https://sistemas.uff.br/portal">Portal</a></li>
    <li>|</li>
    <li><a href="https://sistemas.uff.br/iduff">Sistema Acadêmico (idUFF)</a></li>
    <li>|</li>
    <li><a href="https://sistemas.uff.br/enade">ENADE</a></li>
    <li>|</li>
    <li><a href="https://sistemas.uff.br/administracao-academica">Administração Acadêmica</a></li>
    <li>|</li>
    <li><a href="https://sistemas.uff.br/carteirinha">Carteirinha UFF</a></li>
    <li>|</li>
    <li><a href="https://sistemas.uff.br/sispos">SisPos (PROPPi)</a></li>
    <li>|</li>
    <li><a href="https://sistemas.uff.br/quadro-de-horarios">Quadro de Horários</a></li>
    <li>|</li>
    <li><a href="https://sistemas.uff.br/conexaouff">Conexão UFF</a></li>
    <li>|</li>
    <li><a href="http://mail.id.uff.br">UFFMail</a></li>
    <li>|</li>
    <li class="dir">
      Outras Aplicações
      <small>▼</small>
      <ul id="subNav">
        <li class="sub1"><a href="http://portal.uff.br/portalnti">SIAD</a></li>
        <li class="sub2"><a href="https://sistemas.uff.br/ConsultaPublica">Consulta Pública</a></li>
        <li><a href="https://sistemas.uff.br/inscricao">Inscrição</a></li>
        <li><a href="https://sistemas.uff.br/sai">Avaliação Institucional</a></li>
        <li><a href="https://sistemas.uff.br/cppd">CPPD</a></li>
        <li><a href="https://sistemas.uff.br/rad">RAD</a></li>
        <li><a href="https://sistemas.uff.br/monitoria">Monitoria</a></li>
      </ul>
    </li>
    <li>|</li>
    <li><span class="label label-warning">
      <a href="https://sistemas.uff.br/atendimento">Peça ajuda!</a>
    </span></li>

  </ul>

  <div style="float:right; font-size: 10px; padding-top: 7px; margin-right: 20px;">
    <div class="dados">
      <%= link_de_deslogar %>
    </div>

  </div>
</div>