<div class="barra_governo">
  <div class="barra_governo_box">
    <div class="box2">
      <div class="box3">
        <div class="box4">
          <div class="marca_mec">
            <a id="top_barra" class="txtIndent" title="Ministério da Educação" href="http://portal.mec.gov.br" target="_blank" name="top_barra">MEC - Ministério da Educação</a>
          </div>
          <div class="marca_brasil">
            <a title="Portal Brasil" target="_blank" href="http://www.brasil.gov.br/">Portal Brasil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
