<!DOCTYPE html>
<html>
<head>
  <title>PDI 2014</title>
  <%= stylesheet_link_tag "application", "bootstrap", "bootswatch.min", "font-awesome.min", :media => "all" %>
  <%= javascript_include_tag "application", "bootstrap.min", "bootswatch", "jquery" %>
  <%= csrf_meta_tags %>
</head>
<body style="">
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="http://bootswatch.com/" class="navbar-brand">PDI 2014</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>
<!-- /.container -->
</body>
</html>
